---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
	<h1>{{ page.title }}</h1>
	<p class="meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date_to_string }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="p-author h-card" itemprop="name">{{ site.data.authors[post.author].name }}</span>
        </span>
      {% endif %}</p>


	<div class="post">
	{{ content }}
	</div>


	<div id="disqus_thread"></div>
<script>

{% if page.comments %}
var disqus_config = function () {
this.page.url = "{{ page.url | absolute_url  }}";
this.page.identifier = "{{ page.id }}";
this.page.title = "{{ page.title }}";
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://tfch.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments.</a></noscript>
{% endif %}                     
	
	

	 <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>